<%- include('../inc/top') %> 

<style>
    .cangiua{
        margin-top: 20px;
        text-align: center;
        text-decoration: none;
    }
  .thea{
    text-decoration: none;
  }
  #header {
    width: 100%;
    padding:0px 30px;
    margin-top:33px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.logo{
  width: 100px;
  height: 100px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}

#wrapper {
    /* Kích thước màn hình là 1280 x 720 */
    width: 100%;
    height: 100vh;
}
#header {
    width: 100%;
    padding:0px 30px;
    margin-top:33px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

#menu {
    list-style:none;
    display: flex;
}

#menu .item {
    margin:0px 25px;
}

#menu .item a {
    color:#626A67;
    text-decoration: none;
}


#actions {
    display: flex;
}

#actions .item {
    margin-left:22px;
}
#banner {
    width: 100%;
    background-image :url("/images/bannernokia.jpg");
    height: 500px;
    margin-top:40px;
    display: flex;
    padding:0px 133px;
    position:relative;
}


#footer {
    width: 100%;
    background:rgb(0,0,0,0.79);
    height: 322px;
    margin-top:338px;
    padding:0px 63px;
    padding-top:57px;
    display: flex;
    justify-content: space-around;
}

#footer .box {
    width: 250px;
    color:#fff;
}

#footer .box .quick-menu {
    margin-top:40px;

}


#footer .box .quick-menu .item{
    margin-bottom:12px;

}
#footer .box .quick-menu ,.item a{
    color:#fff;
    text-decoration: none;
}



#footer .box form input {
    width: 294px;
    height: 42px;
    background:transparent;
    padding-left:20px;
    color:#fff;
    margin-top:30px;
}

#footer .box form button {
    background:#362f2f;
    box-shadow: 5px 5px 4px rgba(0,0,0.25);
    width: 163px;
    height: 38px;
    margin-top:29px;
    color:#fff;
}
</style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  
<h1>Danh sách Nokia</h1>
<button type="button" class="btn btn-primary" style="margin: 20px;" data-toggle="modal" data-target="#exampleModal">
    Thêm Sản Phẩm
</button>
<div id="banner">
  <div class="box-left">
    
    
  </div>
 
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sản Phẩm</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/Nokia/addnew" enctype="multipart/form-data">               
            <div class="form-group"> 
                  <label for="">Tên SP</label>
                  <input type="text" name="nameDT" class="form-control"  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="tên sản phẩm">                 
                </div>

                <div class="form-group">
                  <label for="">Giá SP</label>
                  <input type="text"  name="priceDT" class="form-control" id="exampleInputPassword1" placeholder="Giá sản phẩm">
                </div>
                <div class="form-group">
                    <label for="">Số lượng SP</label>
                    <input type="text" name="quantity" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Số lượng sản phẩm">
                  </div>
                  <div class="form-group">
                    <label for="">Mô Tả</label>
                    <input type="text" name="description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="mô tả sản phẩm">
                  </div>                                   
                  <div class="from-group">
                    <label for="">up image</label>
                    <input style="margin-top: 10px;" type="file" name="file_anh" />
                  </div>          
                <div class="modal-footer">
                  <button type="submit" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                  <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
  




<table class="table table-bordered table-striped">
    <tr>
        <!-- <th>ID</th> -->
        <th class="cangiua">Tên Sản Phẩm</th>
        <th  class="cangiua">Giá Tiền</th>
     
        <th  class="cangiua">Hình Ảnh</th>
        <th  class="cangiua">Mô Tả</th>
        <th  class="cangiua">Số Lượng</th>
        <th  class="cangiua">Chức Năng</th>
    </tr>
  
    <%  nokia.forEach( (row)  => { %>

        <tr> 
            <td style="width: 200px;"> <a class="thea" href="/sp/xemchitiet" >
              <p class="cangiua">
                <%= row.nameDT %>
              </p> 
             
            </a> </td>
        <td style="width: 150px;">
            <p class="cangiua">
            <%= row.priceDT %> 
        </p>
        </td>
       
                    <td style="width: 200px; "><img style="height: 50px ;width: 50px; margin-left: 60px; margin-top: 10px;" src="<%= row.imageDT %>"/></td>
         <td style="width: 300px;">
            <p class="cangiua">
                <%= row.description %> </td>
            </p> 
            <td style="width: 300px;">
                <p class="cangiua">
                    <%= row.quantity %>    </td>
                </p>                
              <td>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#deleteModal<%= row._id %>">Xóa</button>
                <form method="POST" action="/Nokia/xoa/<%= row._id %>?_method=DELETE">
                  <input type="hidden" name="_id" value="<%= row._id %>">
                  <div class="modal fade" id="deleteModal<%= row._id %>" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel<%= row._id %>" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel<%= row._id %>">Confirm Delete</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete product "<%= row.nameDT %> "?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-danger">Yes</button>
                    </div>
                  </div>
                </div>
                </div>
                </form>
            <button style="margin-top: 10px;" type="button" class="btn btn-info"  data-toggle="modal" data-target="#editModal<%= row._id %>">Sửa</button>
            <div class="modal fade" id="editModal<%= row._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel<%= row._id %>" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sữa Sản Phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <form method="post" action="/Nokia/sua/<%= row._id %>" enctype="multipart/form-data">               
                        <div class="form-group">
                            <label for="">Tên SP</label>
                            <input type="text" name="nameDT" class="form-control"  placeholder="tên sản phẩm" value="<%= row.nameDT %>"  >
                          </div>
                          <div class="form-group">
                            <label for="">Giá SP</label>
                            <input type="text"  name="priceDT" class="form-control"  placeholder="loại sản phẩm" value="<%= row.priceDT %>">
                          </div>
                          <div class="form-group">
                              <label for="">Số Lượng SP</label>
                              <input type="text" name="quantity" class="form-control" aria-describedby="emailHelp" placeholder="Số lượng sản phẩm" value="<%= row.quantity %>">
                            </div>
                            <div class="form-group">
                              <label for="">Mô Tả</label>
                              <input type="text" name="description" class="form-control"  aria-describedby="emailHelp" placeholder="mô tả sản phẩm" value="<%= row.description %>">
                            </div> 
                            <div class="from-group">
                              <img style="width: 100px; height: 100px;" src="<%= row.imageDT %>"/>
                            </div>          
                            <div class="from-group">
                              <label for="">up image</label>
                              <input style="margin-top: 10px;" type="file" name="file_anh" />
                            </div>                                
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                            <button type="submit" class="btn btn-primary">Lưu</button>
                          </div>
                        </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
      
    </tr>

        <% }); %>
    
</table>
<div id="footer" style="margin-top: 700px;">
    <div class="box">
        <div class="logo">
            <img src="assets/logo.png" alt="">
        </div>
        <p>Cung cấp sản phẩm với chất lượng an toàn cho quý khách</p>
    </div>
    <div class="box">
        <h3>NỘI DUNG</h3>
        <ul class="quick-menu">
            <div class="item">
                <a href="">Trang chủ</a>
            </div>
            <div class="item">
                <a href="">Sản phẩm</a>
            </div>
            <div class="item">
                <a href="">Blog</a>
            </div>
            <div class="item">
                <a href="">Liên hệ</a>
            </div>
        </ul>
    </div>
    <div class="box">
        <h3>LIÊN HỆ</h3>
        <form action="">
            <input type="text" placeholder="Địa chỉ email">
            <button>Nhận tin</button>
        </form>
    </div>
   </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<%- include('../inc/bottom') %>


